<?xml version="1.0"?>
<configuration>
  <configSections>
    <section  name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <castle>
    <components>
      <component id="logger"
     service="WindsorCastleSample.Interfaces.ILogger, WindsorCastleSample"
     type="WindsorCastleSample.Loggers.DBLogger, WindsorCastleSample">
        <interceptors>
          <interceptor>${interceptor}</interceptor>
        </interceptors>
      </component>
      <component id="repository"
     service="WindsorCastleSample.Interfaces.IMessageSender, WindsorCastleSample"
     type="WindsorCastleSample.MessageSenders.SMSSender, WindsorCastleSample">
        <interceptors>
          <interceptor>${interceptor}</interceptor>
        </interceptors>
      </component>
      <component
      id="interceptor"
      type="WindsorCastleSample.Interceptor, WindsorCastleSample"
      lifestyle="transient">
      </component>
    </components>
  </castle>
</configuration>
